<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.SysMenuMapper">

    <select id="getMenusByRoleId" resultType="com.study.domain.system.SysMenu">
        SELECT
        id,
        parent_id,
        `name`,
        type,
        path,
        perms,
        icon
        FROM sys_menu m
        INNER JOIN (SELECT menu_id
        FROM `sys_role_menu`
        WHERE role_id IN
        <foreach collection="roleIds" open="(" separator="," close=")" item="roleId">
            #{roleId}
        </foreach>
        ) rm ON m.id = rm.menu_id
        AND is_deleted = 0 AND `status` = 1
        GROUP BY id
        ORDER BY sort_value ASC
    </select>
</mapper>
