<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.WebLogMapper">

    <resultMap id="BaseResultMap" type="com.study.domain.system.WebLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="statusCode" column="status_code" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ip_address,request_method,
        request_url,status_code,create_time
    </sql>
</mapper>
